:root {
    --primary-magenta: #B91450;
    --secondary-gray: #CCCCCC;
    --primary-gray: #808080;
    --primary--white: #FFFFFF;
}

.ms_container {
    width: 80%;
    margin: 0 auto;
}


body {
    background-color: var(--primary-magenta);

}

.ms_text-white {
    color: var(--primary--white);
}

.ms_text-magenta{
    color: var(--primary-magenta);
}

.ms_font_size {
    font-size: 20px;
}

.ms_bg-white {
    background-color: white;
}

.ms_border-radius {
    border-radius: 10px;
}